<div [className]="'container'">
  <div [className]="'button-section'">
    <div>
      <button (click)="drive()" [className]="'drive-button'"> Press to drive 100 Km</button>
    </div>
    <div *ngIf="isEmptyTank">
      <button (click)="refuel()" [className]="'refuel-button'"> Press to refuel full tank - {{carSpec.tank + ' ' +
        'km'}}
      </button>
    </div>
    <div [className]="'errorMessage'">
      <div> {{showError}}</div>
    </div>
  </div>

  <ul [className]="'list-stat'">
    <li>Brand - {{carSpec.name}}</li>
    <li>Mileage - {{carSpec.mileage}} km</li>
    <li>Tank - {{carSpec.tank}} km</li>
    <li>Current amount of Fuel - {{carSpec.currentAmountFuel}} km</li>
  </ul>
  <ul [className]="'list--charac'">
    <li *ngFor="let item of carSpec.characteristic">
      {{ item }}
    </li>
  </ul>
</div>
